.ItemsCart{
    align-items: center;
}
.cardItemCart{
    align-items: center;
    justify-content: center;    
}
.imageCart{
    height: 6rem;
    border-radius: 0.25rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.titleItemCart{
    font-size: 1.125rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.cartItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem;
}
.infoItemCartCointainer{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
.infoItemCart{
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    margin-bottom: 0.75rem
}
.btn-delete{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 0.25rem;
}
.bi.bi-trash-fill{
    align-items: center;
    font-size: 1rem ;
}
p{
    margin:0
}